{% extends 'base.html' %}
{% block content %}
<h3>Select a Template to Switch</h3>

<form method="POST">
  {% csrf_token %}

  <div class="row">
    <!-- Template 1 -->
    <div class="col-md-4">
      <label>
        <input type="radio" name="template_id" value="1">
        <img src="/static/templates/template_1_thumb.png" alt="Template 1" class="img-fluid">
      </label>
    </div>

    <!-- Template 2 -->
    <div class="col-md-4">
      <label>
        <input type="radio" name="template_id" value="2">
        <img src="/static/templates/template_2_thumb.png" alt="Template 2" class="img-fluid">
      </label>
    </div>

    <!-- Add more templates as needed -->
  </div>

  <button type="submit" class="btn btn-primary mt-3">Preview with Selected Template</button>
</form>
{% endblock %}
